/*general*/
$maincolor: #ce4dd6;
$default-bg-color: #fff;
$default-opacity: 0.5;

/*info pane*/
$info_pane_width: 468px;
$info_pane_height: 468px;

/*clock*/
$clock_width: 420px;
$clock_height: 420px;

$border_radius: 10px;

$clock_enable_bottom: 10px;

@mixin full-screen{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin centered($el_width, $el_height) {
	position: absolute;
	width: $el_width;
	height: $el_height;
	margin-top: -$el_height/2;
	margin-left: -$el_width/2;
	left: 50%;
	top: 50%;
	padding:0;
}

@mixin buttonHoverAnimation {
	&:hover {
		-webkit-transition: opacity 0.3s;
		opacity: 0.9;
		cursor: pointer;
	}
	&:active {
		border:1px #555;
		opacity: 0.5;
	}
}

@mixin unselectable {
	-webkit-user-select: none;
	user-select: none;
}

body {
	opacity:0;
	background-color: $default-bg-color;
	background-image: none;
	padding:0;
	margin:0;
}

.window {
	opacity:0;
	@include full-screen;
	padding:0;
	margin:0;

}

.invis > img {
	display:none;
}


#moreInfoBtn {
	opacity: $default-opacity;  
	background-color: #777;
	font-family: 'Georgia';
	position: fixed;
	right:10px;
	bottom:10px;
	border-radius: $border_radius;

	padding: 6px 13px;
	font-size:15px;
	text-decoration:none;

	@include buttonHoverAnimation;
}

#infoPane {
	// opacity: 0;
	border-radius: 3px;
	@include centered($info_pane_width, $info_pane_height);
}


.info {
	font-family: Georgia, Arial, 'sans-serif';
	font-size: 16px;
	line-height: 24px;
	font-weight: lighter;
	padding: 30px 30px 20px 100px;
}
	
.info> h1 {
	font-family: Helvetica, 'sans-serif';
	font-size: 37.89px;
	margin-bottom:0;
	padding-bottom: 25.88px;
	-webkit-font-smoothing: antialiased;
	}


.info>  a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration:none;
	}
}

// #patternName {
// 	&:hover {
// 		text-decoration:none;
// 	}
// }

#closeX> img {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: $default-opacity;  

	@include buttonHoverAnimation;
}

#clock-outer{
	@include centered($clock_width, $clock_height);
	@include unselectable;
	user-select:none;
}

#clock-hour{
	@include centered($clock_width, $clock_height);
	@include unselectable;
	-webkit-transition: all 1s;
	user-select:none;
}

#clock-min{
	@include centered($clock_width, $clock_height);
	@include unselectable;
	-webkit-transition: all 1s; 
	user-select:none;
}
#clockEnableBtn {
	position: absolute;
	bottom:$clock_enable_bottom;
	padding: 0 5px; 
	font-family: Helvetica;
	-webkit-transition: border 0.3s ease-out;
	
	&:hover {
		cursor: pointer;
	}

	
}

#clockEnableBtnOverlay {
	position:absolute;
	bottom: $clock_enable_bottom;
	width: 25px;
	height: 25.88px;
	opacity: $default-opacity;
	border-radius: 2px;

	-webkit-transition: all 0.1s ease-out;
}


.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:0.7s;-moz-animation-duration:0.7s;-ms-animation-duration:0.7s;-o-animation-duration:0.7s;animation-duration:0.7s;}.

@-webkit-keyframes fadeInDown {
  0% {
    opacity:
   0;
    -webkit-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


